@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("../css/font/Binggrae.ttf");
}
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../css/font/Binggrae-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}
html .fixed {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.09em;
  word-break: break-all;
}
body .fixed {
  height: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header .fixed {
  background-color: #fff;
  position: fixed;
  /* border-bottom: 1px solid #dfebf9; */
}
.header:hover .header-bg {
  top: 0;
  transition: all 0.8s;
}
.header:hover .depth2 {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.8s 0.4s;
}
.header .header-bg {
  position: absolute;
  left: 0;
  top: -573px;
  width: 100%;
  height: 573px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.header .header-top {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
}
.header .header-top .header-link {
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  cursor: pointer;
}
.header .header-top .header-link > li {
  position: relative;
  padding: 0 10px;
}
.header .header-top .header-link > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header .header-top .header-link > li:first-child::before {
  content: none;
}
.header .header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e7e7e7;
  z-index: 9999;
}
.header .header-main .nav .gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .nav .gnb > li {
  position: relative;
  padding: 48px 50px 0 0;
}
.header .header-main .nav .gnb > li:hover > a {
  color: #e0462e;
}
.header .header-main .nav .gnb > li:hover > a span::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(calc(-50% - 8px));
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e0462e;
}
.header .header-main .nav .gnb > li:hover > a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -42px;
  width: 100%;
  height: 2px;
  background: #e0462e;
}
.header .header-main .nav .gnb > li > a {
  display: block;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  padding: 0 0 40px;
}
.header .header-main .nav .gnb > li > a:hover {
  color: #e0462e;
}
.header .header-main .nav .gnb > li > a span {
  position: relative;
  display: block;
}
.header .header-main .nav .gnb > li .depth2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
}
.header .header-main .nav .gnb > li .depth2 > li a {
  padding: 7px 0;
  display: block;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;
}
.header .header-main .nav .gnb > li .depth2 > li a:hover {
  color: #e0462e;
}
.header .header-main .header-right {
  display: flex;
  align-items: center;
}
.header .header-main .header-right .lang {
  margin-right: 33px;
  position: relative;
  cursor: pointer;
}
.header .header-main .header-right .lang > p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .header-right .lang > p .font-popoin {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.header .header-main .header-right .lang > p .triangle {
  margin: 0px 0 0 10px;
  font-size: 0;
  line-height: 1;
}
.header .header-main .header-right .lang > ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 130%;
  text-align: center;
  display: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
}
.header .header-main .header-right .lang > ul > li {
  display: block;
}
.header .header-main .header-right .lang > ul > li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.header .header-main .header-right .hamburger {
  width: 26px;
  position: relative;
}
.header .header-main .header-right .hamburger > a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header-main .header-right .hamburger > a > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header .header-main .header-right .hamburger > a > span + span {
  margin-top: 8px;
}
.header .hambuger_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff url(/images/layout/pc_ham_bg.png) no-repeat right top -80px;
}
.header .submenu {
  width: 100%;
}
.header .submenu .depth01 {
  display: flex;
  justify-content: center;
}
.header .submenu .depth01 > li {
  width: 255px;
  height: 460px;
  border-radius: 30px;
  border: solid 1px rgba(224, 223, 226, 0.6);
  padding: 50px 30px;
  background-color: #fff;
  transition: transform 0.6s;
}
.header .submenu .depth01 > li:hover {
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  transform: translateY(-10px);
}
.header .submenu .depth01 > li:hover > a {
  color: #e0462e;
  font-weight: 500;
}
.header .submenu .depth01 > li > a {
  justify-content: flex-start;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1.6px;
  padding-bottom: 40px;
}
.header .submenu .depth01 > li > a:hover {
  color: #e0462e;
  font-weight: 500;
}
.header .submenu .depth01 > li + li {
  margin-left: 10px;
}
.header .submenu .depth02 > li + li {
  margin-top: 15px;
}
.header .submenu .depth02 > li:hover {
  color: #e0462e;
  font-weight: 500;
  background: url(/images/layout/pc_ham_hover_img.png) no-repeat right top 2px;
}
.header .submenu .depth02 > li:hover > a:hover {
  color: #e0462e;
  font-weight: 500;
}
.header .submenu .depth03 {
  padding-top: 15px;
}
.header .submenu .depth03 > li > a {
  color: rgba(52, 52, 52, 0.8);
  font-size: 15px;
  font-weight: 300;
}

/* Visual */
/* Search */
/* Slide */
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../css/font/Binggrae-Bold.ttf");
}
.slide .slide-goods .slide-layout {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slide .slide-goods .slide-layout .slide-goods-list {
  display: flex;
}

/* Qna */
/* Report */
/* Footer *//*# sourceMappingURL=main.css.map */