@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Binggrae";
  src: url("../css/font/Binggrae.ttf");
}
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../css/font/Binggrae-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}
html .fixed {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.09em;
  word-break: break-all;
}
body .fixed {
  height: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header .fixed {
  background-color: #fff;
  position: fixed;
  /* border-bottom: 1px solid #dfebf9; */
}
.header:hover .header-bg {
  top: 0;
  transition: all 0.8s;
}
.header:hover .depth2 {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.8s 0.4s;
}
.header .header-bg {
  position: absolute;
  left: 0;
  top: -573px;
  width: 100%;
  height: 573px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.header .header-top {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
}
.header .header-top .header-link {
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  cursor: pointer;
}
.header .header-top .header-link > li {
  position: relative;
  padding: 0 10px;
}
.header .header-top .header-link > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.header .header-top .header-link > li:first-child::before {
  content: none;
}
.header .header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e7e7e7;
}
.header .header-main .nav .gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .nav .gnb > li {
  position: relative;
  padding: 48px 50px 0 0;
}
.header .header-main .nav .gnb > li:hover > a {
  color: #e0462e;
}
.header .header-main .nav .gnb > li:hover > a span::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(calc(-50% - 8px));
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e0462e;
}
.header .header-main .nav .gnb > li:hover > a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -42px;
  width: 100%;
  height: 2px;
  background: #e0462e;
}
.header .header-main .nav .gnb > li > a {
  display: block;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  padding: 0 0 40px;
}
.header .header-main .nav .gnb > li > a:hover {
  color: #e0462e;
}
.header .header-main .nav .gnb > li > a span {
  position: relative;
  display: block;
}
.header .header-main .nav .gnb > li .depth2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
}
.header .header-main .nav .gnb > li .depth2 > li a {
  padding: 7px 0;
  display: block;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;
}
.header .header-main .nav .gnb > li .depth2 > li a:hover {
  color: #e0462e;
}
.header .header-main .header-right {
  display: flex;
  align-items: center;
}
.header .header-main .header-right .lang {
  margin-right: 33px;
  position: relative;
  cursor: pointer;
}
.header .header-main .header-right .lang > p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-main .header-right .lang > p .font-popoin {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.header .header-main .header-right .lang > p .triangle {
  margin: 0px 0 0 10px;
  font-size: 0;
  line-height: 1;
}
.header .header-main .header-right .lang > ul {
  background: yellow;
  position: absolute;
  top: 100%;
  left: 0;
  width: 130%;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.05);
}
.header .header-main .header-right .lang > ul > li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.header .header-main .header-right .hamburger {
  width: 26px;
  position: relative;
}
.header .header-main .header-right .hamburger > a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .header-main .header-right .hamburger > a > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header .header-main .header-right .hamburger > a > span + span {
  margin-top: 8px;
}

/* Visual */
/* Search */
.search {
  margin: 0 auto;
  height: 140px;
  margin-bottom: 190px;
  max-width: 1020px;
}
.search .search-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  gap: 15px;
}
.search .search-top .search-bar {
  width: 100%;
  height: 100%;
  margin-left: 55px;
  background-image: url("../images/main/search_icon.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  padding-left: 30px;
  border: none;
}
.search .search-top .search-bar:focus {
  outline: none;
}
.search .search-top .search-button {
  width: 180px;
  height: 55px;
  border-radius: 40px;
  border: 0;
  background-color: rgb(231, 46, 40);
  color: #fff;
  text-transform: uppercase;
  margin-right: 15px;
}
.search .search-bottom > ul {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 25px;
}
.search .search-bottom > ul .search-keyword {
  width: 120px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #edecef;
  border-radius: 18.5px;
}
.search .search-bottom > ul .search-keyword a {
  font-family: "Binggrae";
  font-size: 12px;
  letter-spacing: normal;
}

@media screen and (max-width: 1260px) {
  .search-top {
    max-width: 85vw;
    max-height: 60px;
  }
  .search-button {
    max-height: 45px;
  }
}
@media screen and (max-width: 750px) {
  .search-top {
    max-width: 75vw;
    max-height: 45px;
  }
  .search-button {
    max-width: 130px;
    max-height: 30px;
    font-size: 10px;
  }
  .search-keyword a {
    font-size: 10px !important;
  }
}
/* Slide */
.slide-layout {
  display: flex;
  justify-content: center;
}

.slide .inner {
  max-width: 1750px;
  width: 100%;
}
.slide .slide-goods .slide-goods-title {
  font-family: "Binggrae-Bold";
  font-size: 38px;
  text-align: center;
  margin-bottom: 48px;
}
.slide .slide-goods .slide-layout {
  display: flex;
  align-items: center;
  max-width: 1750px;
  max-height: 300px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
}
.slide .slide-goods .slide-layout > img {
  margin: 48px;
  width: 7px;
  height: 15px;
}
.slide .slide-goods .slide-layout .slide-goods-list {
  display: flex;
  gap: 18px;
}
.slide .slide-goods .slide-layout .slide-goods-list > li > img {
  width: 100%;
  max-width: 242px;
  max-height: 242px;
  margin-bottom: 12px;
}
.slide .slide-goods .slide-layout .slide-goods-list > li > p {
  background-color: rgb(249, 249, 249);
  padding: 14px;
  text-align: center;
  border-radius: 21px;
}
.slide .slide-brand .slide-brand-title {
  font-family: "Binggrae-Bold";
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 172px;
  margin-bottom: 48px;
}
.slide .slide-brand .slide-layout {
  align-items: center;
  max-width: 1750px;
  max-height: 300px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
}
.slide .slide-brand .slide-layout > img {
  margin: 48px;
  width: 7px;
  height: 15px;
}
.slide .slide-brand .slide-layout .slide-brand-list {
  display: flex;
  width: 100%;
  gap: 18px;
  justify-content: center;
}
.slide .slide-brand .slide-layout .slide-brand-list > li {
  display: flex;
  width: 100%;
  width: 242px;
  height: 250px;
  border: 1px solid #edecef;
  border-radius: 30px;
}
.slide .slide-brand .slide-layout .slide-brand-list > li > a {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.slide .slide-brand .slide-layout .slide-brand-list > li > a > img {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .slide-layout > img {
    display: none;
  }
  .slide-goods-list,
.slide-brand-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Qna */
.qna {
  margin-top: 140px;
}
.qna .qna-inner {
  padding: 0 170px;
}
.qna .qna-inner .qna-title {
  font-family: "binggrae-bold";
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
}
.qna .qna-inner .qna-main {
  border-radius: 30px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  padding: 90px 45px 60px 45px;
}
.qna .qna-inner .qna-main .qna-main-top {
  display: flex;
  justify-content: space-between;
}
.qna .qna-inner .qna-main .qna-main-top .mail {
  width: 48.5%;
  height: 325px;
  background: url(../images/main/sec04_backimg01.png) no-repeat center;
  background-size: cover;
  border-radius: 30px;
  padding: 55px 45px 55px 45px;
}
.qna .qna-inner .qna-main .qna-main-top .mail > h2 {
  font-family: "binggrae-bold";
  font-size: 32px;
  margin-bottom: 33px;
}
.qna .qna-inner .qna-main .qna-main-top .mail > p {
  font-size: 16px;
  padding: 5px 0;
}
.qna .qna-inner .qna-main .qna-main-top .mail > p > br {
  display: none;
}
.qna .qna-inner .qna-main .qna-main-top .mail > span {
  display: block;
  width: 160px;
  height: 43px;
  background: #e5372b;
  color: #ffffff;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  border-radius: 21.5px;
  text-align: center;
  line-height: 43px;
  margin-top: 30px;
}
.qna .qna-inner .qna-main .qna-main-top .call {
  width: 48.5%;
  height: 325px;
  background: url(../images/main/sec04_backimg02.png) no-repeat center;
  background-size: cover;
  border-radius: 30px;
  padding: 55px 45px 55px 45px;
}
.qna .qna-inner .qna-main .qna-main-top .call > h2 {
  font-family: "binggrae-bold";
  font-size: 32px;
}
.qna .qna-inner .qna-main .qna-main-top .call > a {
  font-family: "Poppins";
  display: block;
  font-size: 46.5px;
  font-weight: 600;
  margin: 33px 0;
}
.qna .qna-inner .qna-main .qna-main-top .call .call-text-day {
  display: block;
  margin-right: 15px;
  font-size: 16px;
  float: left;
}
.qna .qna-inner .qna-main .qna-main-top .call .call-text-time {
  display: block;
  color: #e0462e;
  font-size: 16px;
  font-weight: 500;
  float: left;
}
.qna .qna-inner .qna-main .qna-main-bottom .qna-txt {
  padding-top: 57px;
  padding-bottom: 35px;
  gap: 10px;
}
.qna .qna-inner .qna-main .qna-main-bottom .qna-txt > h2 {
  font-family: "binggrae-bold";
  font-size: 23px;
  float: left;
  line-height: 43px;
}
.qna .qna-inner .qna-main .qna-main-bottom .qna-txt > button {
  width: 160px;
  height: 43px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: solid 1px rgba(224, 223, 226, 0.6);
  border-radius: 21.5px;
  float: right;
  background: transparent;
}
.qna .qna-inner .qna-main .qna-main-bottom .qna-txt > button:hover {
  background: #e5372b;
  color: #ffffff;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.question > li {
  position: relative;
  margin-bottom: 10px;
}
.question > li:nth-child(5) {
  margin-bottom: 0px;
}
.question > li:nth-child(6) {
  margin-bottom: 0px;
}
.question > li:hover {
  font-weight: 600;
  transition: transform 0.5s;
}
.question > li > a > span {
  position: absolute;
  top: 17px;
  right: 20px;
  content: "";
  width: 47px;
  height: 47px;
  background: #dd462e url("../images/main/link_arrow01.png") no-repeat center;
  border-radius: 30px;
  transition: transform 0.5s;
  transform: scale(0);
}
.question > li:hover > a > span {
  transition: transform 0.5s;
  transform: scale(1);
}
.question > li > a > i {
  font-style: normal;
}

.qna-box {
  display: block;
  width: 48.5%;
  height: 80px;
  line-height: 80px;
  border-radius: 30px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  font-size: 18px;
  padding-left: 22px;
}

@media screen and (max-width: 1600px) {
  .mail {
    background-position: center right 20% !important;
  }
  .call {
    background-position: center right 20% !important;
  }
}
@media screen and (max-width: 1550px) {
  .mail > h2 {
    font-size: 28px !important;
  }
  .mail > p {
    font-size: 15px !important;
  }
  .call > h2 {
    font-size: 28px !important;
  }
  .call > a {
    font-size: 38px !important;
  }
}
@media screen and (max-width: 1350px) {
  .mail > h2 {
    margin-bottom: 10px !important;
  }
  .mail > p {
    line-height: 1.63;
  }
  .mail > p > br {
    display: block !important;
  }
  .mail > span {
    margin-top: 10px !important;
  }
  .qna-box {
    height: 47px !important;
    line-height: 47px !important;
  }
  .qna-box > a {
    font-size: 14px !important;
  }
  .qna-box > a > span {
    top: 9px !important;
    right: 15px !important;
    width: 30px !important;
    height: 30px !important;
  }
}
@media screen and (max-width: 1250px) {
  .qna-txt > h2 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1150px) {
  .qna-main-top {
    flex-wrap: wrap !important;
  }
  .mail {
    padding: 30px !important;
    width: 100% !important;
    height: 150px !important;
    background-position: center bottom 30% !important;
    margin-bottom: 20px !important;
  }
  .mail > h2 {
    font-size: 18px !important;
  }
  .mail > p {
    display: none !important;
  }
  .mail > span {
    margin-top: 20px !important;
  }
  .call {
    padding: 30px !important;
    width: 100% !important;
    height: 150px !important;
    background-position: center bottom 30% !important;
  }
  .call > h2 {
    font-size: 18px !important;
  }
  .call > span {
    display: none !important;
  }
  .qna-txt {
    text-align: center !important;
  }
  .qna-txt > h2 {
    width: 100% !important;
  }
  .qna-txt > button {
    float: none !important;
  }
  .qna-box {
    width: 100%;
  }
  .qna-box:last-child {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .qna-txt > h2 {
    font-size: 15px !important;
  }
}
/* Report */
.report {
  margin-top: 140px;
}
.report .report-innner {
  padding: 0 170px;
}
.report .report-innner .report-title {
  font-family: "binggrae-bold";
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px;
}
.report .report-innner .report-main {
  display: flex;
  justify-content: space-between;
}
.report .report-innner .report-main .report-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report .report-innner .report-main .report-main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.report-box {
  cursor: pointer;
  vertical-align: 0px;
}
.report-box p {
  font-size: 20px;
  margin-bottom: 34px;
}
.report-box span {
  display: block;
  width: 160px;
  height: 43px;
  background: #e5372b;
  color: #ffffff;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  border-radius: 21.5px;
  line-height: 43px;
  margin-top: 34px;
  margin: 0 auto;
  font-size: 14px;
}

.report-box {
  width: 635px;
  height: 230px;
  border-radius: 30px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  text-align: center;
}

@media screen and (max-width: 1455px) {
  .report-main-left > p {
    font-size: 16px;
  }
  .report-main-right > p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1250px) {
  .report-main-left > p {
    font-size: 14px;
  }
  .report-main-right > p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1150px) {
  .report-main {
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .report-main-left {
    width: 80%;
    height: 150px;
  }
  .report-main-right {
    width: 80%;
    height: 150px;
  }
}
@media screen and (max-width: 930px) {
  .report-title {
    font-size: 30px !important;
  }
}
/* Footer */
.footer {
  margin-top: 140px;
  background: #1b1b1b;
  padding: 50px 50px 30px 50px;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-top .footer-top-link > ul > li {
  float: left;
  margin-right: 30px;
}
.footer .footer-top .footer-top-link > ul > li > a {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
}
.footer .footer-top .footer-top-link > ul > li:last-child {
  margin-right: 0;
}
.footer .footer-middle {
  padding-top: 23px;
  padding-bottom: 115px;
}
.footer .footer-middle > ul > li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
}
.footer .footer-middle > ul > li:last-child {
  padding-top: 10px;
}
.footer .footer-bottom > p {
  font-size: 14px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.2);
  float: left;
  line-height: 70px;
}
.footer .footer-bottom .familysite {
  float: right;
}
.footer .footer-bottom .familysite > ul {
  float: left;
}
.footer .footer-bottom .familysite > ul > li {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  background: #1f1f1f;
  float: left;
  margin: 0 7px;
}
.footer .footer-bottom .familysite .flagstore {
  position: relative;
  width: 355px;
  height: 70px;
  background: #1f1f1f;
  border-radius: 35px;
  line-height: 70px;
  float: left;
  margin-left: 60px;
}
.footer .footer-bottom .familysite .flagstore > a > img {
  float: left;
  margin: 10px 12px;
}
.footer .footer-bottom .familysite .flagstore > a > p {
  font-size: 14px;
  color: rgba(153, 153, 153, 0.67);
  float: left;
}
.footer .footer-bottom .familysite .flagstore > a > p > strong {
  color: rgba(255, 255, 255, 0.67);
}
.footer .footer-bottom .familysite .flagstore > a > p::after {
  position: absolute;
  top: 30px;
  right: 30px;
  content: "";
  height: 6px;
  width: 12px;
  background: url("../images/layout/select_btn01.png") no-repeat center;
  transform: rotate(-90deg);
  float: right;
}
.footer .footer-hidden {
  display: none;
}

@media screen and (max-width: 1001px) {
  .footer-hidden {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 30px 20px;
  }
  .footer-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-top .footer-top-logo {
    margin-bottom: 20px;
  }
  .footer-top .footer-top-link {
    margin-bottom: 40px;
  }
  .footer-middle {
    text-align: center;
    padding-bottom: 80px !important;
  }
  .footer-middle > ul > li {
    font-size: 14px !important;
  }
  .footer-bottom {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom > p {
    display: none;
  }
  .footer-bottom .familysite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom .familysite > ul > li {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important;
    margin: 0 15px !important;
  }
  .footer-bottom .familysite > ul > li:nth-child(1) > a > img {
    width: 15px !important;
    height: 15px !important;
  }
  .footer-bottom .familysite > ul > li:nth-child(2) > a > img {
    width: 14px !important;
    height: 10px !important;
  }
  .footer-bottom .familysite > ul > li:nth-child(3) > a > img {
    width: 26px !important;
    height: 15px !important;
  }
  .footer-bottom .familysite .flagstore {
    margin-left: 0 !important;
    margin-top: 13px !important;
    width: 250px !important;
    height: 45px !important;
    line-height: 40px !important;
    padding-left: 10px !important;
  }
  .footer-bottom .familysite .flagstore a > img {
    width: 32px !important;
    height: 25px !important;
  }
  .footer-bottom .familysite .flagstore a > p {
    font-size: 12px !important;
  }
  .footer-bottom .familysite .flagstore a > p::after {
    width: 8px !important;
    top: 18px !important;
    right: 20px !important;
  }
  .footer-hidden {
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 80px !important;
  }
  .footer-hidden > ul {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-hidden > ul > li > a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-hidden > ul > li:last-child {
    padding-left: 25px;
  }
  .footer-hidden > p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: -0.21px;
  }
}
/* fix menu*/
.fixmenu {
  position: fixed;
  display: block;
  right: 30px;
  bottom: 60px;
  z-index: 99999;
}
.fixmenu .fixmenu-top {
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
  text-transform: uppercase;
  color: #1b1b1b;
  font-weight: 500;
  letter-spacing: normal;
}
.fixmenu .fixmenu-bottom {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #000000 url(../images/layout/fix_arrow.png) no-repeat center;
  transform: rotate(180deg);
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);
  margin-top: 5px;
  cursor: pointer;
  border: 0;
}
.fixmenu .fixmenu-bottom:active {
  transform: rotate(0deg);
}