.footer {
    margin-top: 140px;
    background: #1b1b1b;
    padding: 50px 50px 30px 50px;
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-top-link {
            > ul {
                > li {
                    float: left;
                    margin-right: 30px;
                    > a {
                        color: rgba(255, 255, 255, 0.3);
                        font-weight: 500;
                    }                
                }
                > li:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .footer-middle {
        padding-top: 23px;
        padding-bottom: 115px;
        > ul {
            > li {
                color: rgba(255, 255, 255, 0.7);
                font-size: 17px;
                font-weight: 300;
                line-height: 30px;
            }
            > li:last-child {
                padding-top: 10px;
            }
        }
    }
    .footer-bottom {
        > p {
            font-size: 14px;
            letter-spacing: -0.15px;
            color: rgba(255, 255, 255, 0.2);
            float: left;
            line-height: 70px;
        }
        .familysite {
            float: right;
            > ul {
                float: left;
                > li {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 70px;
                    background: #1f1f1f;
                    float: left;
                    margin: 0 7px;
                }
            }
            .flagstore {
                position: relative;
                width: 355px;
                height: 70px;
                background: #1f1f1f;
                border-radius: 35px;
                line-height: 70px;
                float: left;
                margin-left: 60px;
                > a {
                    > img {
                        float: left;
                        margin: 10px 12px;
                    }
                    > p {
                        font-size: 14px;
                        color: rgba(153, 153, 153, 0.67);
                        float: left;
                        > strong {
                            color: rgba(255, 255, 255, 0.67);
                        }
                    }
                    > p::after {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        content: "";
                        height: 6px;
                        width: 12px;                   
                        background: url("../images/layout/select_btn01.png") no-repeat center;
                        transform: rotate(-90deg);
                        float: right;
                    }
                }
            }
        }
    }
    .footer-hidden {
        display: none;
    }
}

@media screen and (max-width:1001px) {
    .footer-hidden {
        display: block !important;
    }
}
@media screen and (max-width:1000px) {
    .footer {
        padding: 30px 20px;
    }
    .footer-top {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .footer-top-logo {
            margin-bottom: 20px;
        }
        .footer-top-link {
            margin-bottom: 40px;
        }
    }
    .footer-middle {
        text-align: center;
        padding-bottom: 80px !important;
        > ul {
            > li {
                font-size: 14px !important;
            } 
        }
    }
    .footer-bottom {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
            display: none;
        }
        .familysite {
            display: flex;
            flex-direction: column;
            align-items: center;
            > ul > li {
                width: 35px !important;                
                height: 35px !important;
                line-height: 35px !important;
                margin: 0 15px !important;
            }
            > ul > li:nth-child(1) > a > img {
                width: 15px !important;
                height: 15px !important;
            }
            > ul > li:nth-child(2) > a > img {
                width: 14px !important;
                height: 10px !important;
            }    
            > ul > li:nth-child(3) > a > img {
                width: 26px !important;
                height: 15px !important;
            }
            .flagstore {
                margin-left: 0 !important;
                margin-top: 13px !important;
                width: 250px !important;
                height: 45px !important;
                line-height: 40px !important;
                padding-left: 10px !important;
                a > img {
                    width: 32px !important;
                    height: 25px !important;
                }
                a > p {
                    font-size: 12px !important;
                }
                a > p::after {
                    width: 8px !important;
                    top: 18px !important;
                    right: 20px !important;
                }
            }
        }
    }
    .footer-hidden {
        display: flex !important;
        justify-content: space-between !important;
        padding-top: 80px !important;
        > ul {
            display: flex;
            flex-wrap: nowrap;
            > li > a {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.5);
            }
            > li:last-child {
                padding-left: 25px;
            }
        }
        > p {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.2);
            letter-spacing: -0.21px;
        }
    }
}