.header {
  position: relative;
  z-index: 9999;

  .header-top {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 80px;
    .header-link {
      display: flex;
      justify-content: flex-end;
      line-height: 30px;
      cursor: pointer;
      > li {
        position: relative;
        padding: 0 10px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          width: 1px;
          height: 10px;
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:first-child::before {
          content: none;
        }
      }
    }
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7e7;
    .header-logo {
    }
    .nav {
      .gnb {
        display: flex;
        align-items: center;
        justify-content: center;
        > li {
          position: relative;
          padding: 48px 50px 0 0;
          > a {
            display: block;
            position: relative;
            white-space: nowrap;
            font-size: 16px;
            padding: 0 0 40px;
            &:hover {
              color: #e0462e;
            }
            span {
              position: relative;
              display: block;
              &::before {
                content: "";
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(calc(-50% - 8px));
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #e0462e;
              }
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -42px;
                width: 100%;
                height: 2px;
                background: #e0462e;
              }
            }
          }
          .depth2 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;

            // opacity: 0;
            // visibility: hidden;
            padding-top: 20px;

            > li {
              a {
                padding: 7px 0;
                display: block;
                line-height: 1.5;
                text-align: left;
                white-space: nowrap;
                &:hover {
                  color: #e0462e;
                }
              }
            }
          }
        }
      }
    }
    .header-right {
      display: flex;
      .lang {
        margin-right: 33px;
        position: relative;
        cursor: pointer;
        > p {
          display: flex;
          align-items: center;
          justify-content: center;
          .font-popoin {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: -0.5px;
          }
          .triangle {
            margin: 0px 0 0 10px;
            font-size: 0;
            line-height: 1;
          }
        }
      }
      .hamburger {
        width: 26px;
        height: 18px;
        position: relative;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          > span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000;
            + span {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
