.qna {
	.qna-inner {
		padding: 0 170px;
		height: 360px;
		.qna-title {
			text-align: center;
			font-size: 38px;
			margin-bottom: 40px;
		}
		.qna-main {
			border-radius: 30px;
			box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
		}
	}
}