.report {
    margin-top: 140px;
    .report-innner {
        margin: 0 auto;
        max-width: 1310px;
        .report-title {
            font-family: 'binggrae-bold';
            font-size: 38px;
            text-align: center;
            margin-bottom: 40px;
        }
        .report-main {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .report-main-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .report-main-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

@at-root .report-box {
    cursor: pointer;
    vertical-align: 0px;
    p {
        font-size: 20px;
        margin-bottom: 34px;
    }
    span {                    
        display: block;
        width: 160px;
        height: 43px;
        background: #e5372b;
        color: #ffffff;
        box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
        border-radius: 21.5px;
        line-height: 43px;
        margin-top: 34px;
        margin: 0 auto;
        font-size: 14px;
    }
}

// 공통클래스
.report-box {
    display: block;
    max-width: 635px;
    width: 100%;
    height: 230px;
    border-radius: 30px;
	background: #f9f9f9;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 8%);
    text-align: center;
}

@media screen and (max-width: 1650px) {
}

@media screen and (max-width: 1455px) {
    .report-main-left {
        > p {
            font-size: 16px;
        }
    }
    .report-main-right {
        > p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1450px) {
	.report {
		.report-innner {
			padding: 0px 30px;
		}
	}
}

@media screen and (max-width: 1250px) {
    .report-main-left {
        > p {
            font-size: 14px;
        }
    }
    .report-main-right {
        > p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 930px) {
    .report-title {
        font-size: 30px !important;
    }
}
@media screen and (max-width: 770px) {
    .report-title {
        font-size: 22px !important;
    }
    .report-main {
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .report-main-left {
        width: 90%;
        height: 150px;
    }
    .report-main-right {
        width: 90%;
        height: 150px;
    }
}