.slide-layout {
  display: flex;
  justify-content: center;
}
.slide {
  .inner {
    max-width: 1750px;
    width: 100%;
  }
  .slide-goods {
    .slide-goods-title {
      font-family: "Binggrae-Bold";
      font-size: 38px;
      text-align: center;
      margin-bottom: 48px;
    }
    .slide-layout {
      display: flex;
      align-items: center;
      max-width: 1750px;
      max-height: 300px;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      flex-shrink: 1;
      > img {
        margin: 48px;
        width: 7px;
        height: 15px;
      }
      .slide-goods-list {
        display: flex;
        gap: 18px;
        > li > img {
          width: 100%;
          max-width: 242px;
          max-height: 242px;
          margin-bottom: 12px;
        }
        > li > p {
          background-color: rgb(249, 249, 249);
          padding: 14px;
          text-align: center;
          border-radius: 21px;
          // margin-bottom: 172px;
        }
      }
    }
  }
  .slide-brand {
    .slide-brand-title {
      font-family: "Binggrae-Bold";
      font-size: 38px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 172px;
      margin-bottom: 48px;
    }
    .slide-layout {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 1750px;
      max-height: 300px;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      flex-shrink: 1;
      > img {
        margin: 48px;
        width: 7px;
        height: 15px;
      }
      .slide-brand-list {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 18px;
        flex-grow: 1;
        justify-content: space-between;

        .mo {
          display: none;
        }
        > li {
          display: flex;
          max-width: 242px;
          height: 250px;
          border: 1px solid #edecef;
          border-radius: 30px;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 1;
          > a {
            display: flex;
            justify-content: center;
            max-width: 242px;
            max-height: 250px;
            margin: auto;
            > img {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .slide-goods {
    position: relative;
    display: block;
    .slide-goods-title {
      font-size: 22px !important;
    }
    p {
      padding: 15px 0 !important;
      margin: 0 !important;
      font-size: 16px;
      background-color: #fff !important;
    }
    a {
      padding: 15px 0 !important;
    }
    .goods-wrap {
      position: relative;
      display: flex;
      width: 100%;
      flex-shrink: 1;
      .slide-layout {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 768px;
        max-height: 705px;
        margin: 0 auto;
        // flex-shrink: 1 !important;
        margin: 0 25px;
        // background-color: yellow;
        > img {
          display: none;
        }
      }
    }
    .slide-goods-list {
      position: relative;
      display: flex;
      width: 100%;
      max-height: 705px;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      flex-basis: 33%;
      // flex-shrink: 1;

      > li {
        position: relative;
        max-width: 235px;
        max-height: 280px;
        padding: 0;
        margin: 0;
        // flex-shrink: 1;
        > img {
          width: 100%;
          margin: 0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .slide-brand {
    position: relative;
    display: block;
    .slide-brand-title {
      position: relative;
      display: block;
    }
    > .slide-layout {
      position: relative;
      display: block;
      max-width: 768px;
      max-height: 600px;
      // background-color: yellow;
      > img {
        position: relative;
        display: none;
      }
      .slide-brand-list {
        width: 100%;
        max-height: 600px !important;
        position: relative;
        display: flex;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-content: center !important;
        flex-direction: column !important;
        flex-basis: 33%;
        // background-color: yellow;
        > li {
          display: flex;
          flex-shrink: 1;
          flex-direction: row;
          width: 235px;
          max-height: 490px;
          flex-basis: 33%;
          align-content: space-between;
          flex-basis: 33% !important;
          > a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 33% !important;
            flex-shrink: 1 !important;
            .mo {
              position: relative;
              display: block !important;
              width: 235px !important;
              height: 100%;
              flex-shrink: 1 !important;
              flex-basis: 33%;
            }
          }
        }
        .pc {
          display: none !important;
        }
      }
    }
  }
}
