@charset 'utf-8';

@import "variables";
@import "mixin";

@import "font/font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
  .fixed {
    height: 100%;
    overflow: hidden;
  }
}
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.09em;
  word-break: break-all;
  .fixed {
    height: 100%;
    overflow: hidden;
  }
}
// 공통클래스
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

// 전체레이아웃
.wrap {
  position: relative;
  display: block;
}

/* Header */
@import "header";
/* Visual */
@import "visual";
/* Search */
@import "search";
/* Slide */
@import "slide";
/* Qna */
@import "qna";
/* Report */
@import "report";
/* Footer */
@import "footer";
